/*REQUIREMENTS FOR TRIBUTE PAGE!!!
User Story #1: My tribute page should have an element with a corresponding id="main", which contains all other elements.
User Story #2: I should see an element with a corresponding id="title", which contains a string (i.e. text) that describes the subject of the tribute page (e.g. "Dr. Norman Borlaug").
User Story #3: I should see a div element with a corresponding id="img-div".
User Story #4: Within the img-div element, I should see an img element with a corresponding id="image".
User Story #5: Within the img-div element, I should see an element with a corresponding id="img-caption" that contains textual content describing the image shown in img-div.
User Story #6: I should see an element with a corresponding id="tribute-info", which contains textual content describing the subject of the tribute page.
User Story #7: I should see an a element with a corresponding id="tribute-link", which links to an outside site that contains additional information about the subject of the tribute page. 
--HINT: You must give your element an attribute of target and set it to _blank in order for your link to open in a new tab (i.e. target="_blank").
User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.
*/



html,body{
    font-family: Alice, serif;
    text-align:center;
    min-width:260px;
    color:#333;
  }
  
  .grid-layout {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 20px 10px;
   grid-template-areas: 
      "nav header header"
      "content paragraph1 paragraph2"
      "footer footer footer"; 
  }
  .item1{
      background:LightSkyBlue;
      grid-area: header;
    }
  .item2{
      background:LightSalmon;
      grid-area: nav;
    }
  .item3{
      background:PaleTurquoise;
        grid-area: content;
    }
  .item4{
      background:LightPink;
      grid-area: paragraph1;
    }
  
  .item5 {
    background: PaleGreen;    
    grid-area: paragraph2;      
  }
  .item6 {
    background: teal;    
    grid-area: footer;   
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}